# Virtualenv
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
data.json


# Local-only
config/settings_local.py
data.json

# Python cache
__pycache__/
*.pyc